* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    --night: hsla(123, 91%, 4%, 1);
    --timberwolf: hsla(0, 1%, 81%, 1);
    --indigo-dye: hsla(209, 86%, 25%, 1);
    --viridian: hsla(146, 31%, 37%, 1);
    --vermilion: hsla(2, 91%, 61%, 1);
    --rose: hsla(330, 100%, 50%, 1);
    --caput-mortuum: hsla(0, 32%, 25%, 1);
    --deep-sky-blue: hsla(195, 100%, 49%, 1);
    --pear: hsla(65, 84%, 56%, 1);
    --pumpkin: hsla(22, 83%, 58%, 1);
    --jungle-green: hsla(164, 93%, 34%, 1);
    --gamboge: hsla(40, 94%, 49%, 1);
    --purpureus: hsla(284, 47%, 53%, 1);
    --pale-azure: hsla(195, 100%, 75%, 1);
    --lime: hsla(73, 93%, 48%, 1);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--timberwolf);
    gap: 16px;
    padding: 16px;
}

.title {
    font-size: 36px;
    color: var(--night);
}

.sub-title {
    color: var(--night);
    font-weight: 300;
    text-align: center;
}

.clear-btn {
    font-size: 18px;
    padding: 8px 16px;
    font-weight: 550;
    border: 2px solid var(--indigo-dye);
    border-radius: 10px;
    background-color: var(--timberwolf);
}

.grid-container {
    border: 8px solid var(--indigo-dye);
    background-color: var(--timberwolf);
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 48px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.square {
    /* display: flex;
    flex-direction: column; */
    border: 1px dotted black; 
    background-color: white; 
    flex: 0 0 100%;
    /* flex-basis: 100%;
    flex: 1; */
}